html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}
h1 {
  font-size: 3.4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 2.6rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.2rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
}
ul {
  list-style: disc inside;
}
ol {
  list-style: decimal inside;
}

p {
  margin-top: 0;
}

a {
  color: #222;
}
a:hover {
  color: #888;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
code {
  font-family: 'PT Mono', 'Menlo', 'Monaco', 'Consolas', monospace;
}

hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid #eee;
}

figure {
  margin: 0;
}
figcaption {
  font-size: 90%;
  color: #444;
}

:not(pre) > code {
  font-weight: 600;
}

blockquote {
  margin-left: 2rem;
  padding-left: 2rem;
  border-left: 3px solid #ccc;
  color: #777;
}
