@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif KR', serif;
}

.container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 550px) {
  .container {
    width: 80%;
    padding: 0;
  }
}

main {
  padding-top: 5em;
  padding-bottom: 4em;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  z-index: 99;
  opacity: 0.98;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
}
.navbar > .container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* height: 4em; */
}
.navbar-list {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 100%;
  margin-bottom: 0;
  list-style: none;
}
.navbar-list:not(.visible) {
  display: none;
}
.navbar-item {
  float: left;
  margin-bottom: 0;
}
.navbar-item:not(:first-child) {
  border-top: 1px solid #e1e1e1;
}
.navbar-logo,
.navbar-link {
  color: #000;
  text-decoration: none;
  padding: 0.5rem 0;
  box-sizing: border-box;
}
.navbar-logo {
  padding: 0.5rem 0.8rem;
  margin: 0.8rem 0;
  border: 2px solid #000;
  text-transform: uppercase;
  margin-right: auto;
}
.navbar-link {
  display: block;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.navbar-toggle-btn {
  display: flex;
  flex-flow: column nowrap;
  padding: 8px;
  background-color: #fff;
  border: none;
}
.toggle-icon-bar {
  display: block;
  width: 2.5rem;
  border-top: 2px solid #000;
}
.toggle-icon-bar:not(:first-child) {
  margin-top: 0.5rem;
}

@media (min-width: 550px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-logo {
    margin-right: 3rem;
  }
  .navbar-list {
    flex: 1;
    flex-flow: row wrap;
    display: initial !important;
  }
  .navbar-item {
    margin-right: 3rem;
    border-top: none !important;
  }
  .navbar-toggle-btn {
    display: none;
  }
}

.post-link {
  text-decoration: none;
}
.post {
  margin-bottom: 3rem;
}
.post-meta {
  margin-bottom: 1rem;
  color: #999;
}
.post-siblings {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}

.utterances {
  margin-top: 1rem;
  max-width: unset;
}
